{% assign footer = site.data.settings['footer'] %}
{% assign social = site.data.settings['social'] %}
{% assign header = site.data.settings['header'] %}
{% assign ui_text = site.data.ui-text['ui_text'] %}

<!-- Footer -->
<footer class="footer gap no-bottom" style="background-color: #222 ;">
	<div class="container">
	  <div class="row">
		<div class="col-xl-3 col-lg-4 col-md-6">
		  <div class="footer-logo">
			<a href="{{ site.url }}" title="{{ header.logo.title }}"><img alt="{{ header.logo.alt }}" src="{{ header.logo.image | absolute_url }}"></a>
			<p>
			  {{ footer.description | safeHTML }}
			</p>
		  </div>
		</div>
		<div class="col-xl-3 col-lg-4 col-md-6">
		  <div class="links">
			<h6>{{ footer.menu.title | safeHTML }}</h6>
			<ul>
        	  {% for item in footer.menu.list %}
			  <li><a href="{{ item.link | absolute_url }}">{{ item.title }}</a></li>
			  {% endfor %}
			</ul>
		  </div>
		</div>
		<div class="col-xl-3 col-lg-4 col-md-6">
		  {% if site.news.size %}
		  <div class="latest-news">
			<h6>{{ footer.news.title | safeHTML }}</h6>
			<ul>
			  {% for news in site.news limit: footer.news.numOfItems %}
			  <li class="pt-4">
				  <p><a href="{{ news.url }}">{{ news.title }}</a></p>
				  <span>{{ news.date | date: site.date_format }}</span>
			  </li>
			  {% endfor %}
			</ul>
		  </div>
		  {% endif %}
		</div>

	  </div>
	  <div class="footer-bottom">
		<p>&copy; {{ 'now' | date: "%Y" }} {{ footer.copyright | safeHTML }}</p>
		<ul>
      	  {% for link in social %}
		  <li><a href="{{ link.url }}" target="_blank" title="{{ link.title }}"><i aria-hidden="true" class="{{ link.icon }}"></i></a></li>
		  {% endfor %}
		</ul>
	  </div>
	</div>
</footer>
